{% extends 'base.html.twig' %}

{% block title %}Deine kostenlose E-Mail{% endblock %}

{% block body %}
<style>
</style>
<div id="main-wrapper">
    <p id="javascript-notice">this website requires Javascript.</p>
</div>
<script>
    document.getElementById("javascript-notice").innerHTML = "loading...";
</script>
{% endblock %}
