/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: rgb(66, 82, 88, 0.9) rgba(33, 41, 44,0.9);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(33, 41, 44,0.9);
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(66, 82, 88, 0.9);
    border-radius: 32px;
  }
  body {
    height:100%;
    background-attachment:fixed;
    background-size:cover;
}
.main-wrapper {
    height:100%;
}
.carousel-caption {
    top:0px;
    bottom:auto;
    text-align:left;
    position:relative;
    left:0px;
    right:0px;
}
.carousel-control-prev, .carousel-control-next {
    width:auto;
}
.main {
    padding-left:10px;
    padding-right:10px;
}
.form-group {
    padding-top:10px;
}
h1 {
  width:100%;
  text-align: center;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    display:none;
}
.carousel-caption,.carousel-item,.carousel-inner,.carousel{
    height:100%;
}
html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.carousel-control-prev, .carousel-control-next{
    align-items:flex-start!important;
    padding-top:25px;
    text-decoration:none!important;
    bottom:auto;
}
.text-shadow-lg { 
  text-shadow: 5px 15px 19px #ccc,-5px 8px 16px #ccc;
}
.box-shadow {
    box-shadow: 0 10px 10px -10px #8c8c8c inset;
}
.stylish-hr { 
    color: rgba(11, 94, 215, 0.0);
    padding-top: 4px;
    border : 0;
    height: 2px!important; 
    background-image: linear-gradient(to right, rgba(11, 94, 215, 0.0), #0b5ed7, #0b5ed7, rgba(11, 94, 215, 0.0)); 
}
.sr-only {
    overflow:visible!important;
    width:auto!important;
    text-decoration:none;
    position:relative!important;  
    /*font-size:0.7rem;*/
  text-shadow: 5px 5px 25px #000,-5px 5px 16px #000;
}
.banner_img {
    width: 100%; 
    height: auto; 
}
.banner {
  position:relative;  
}
.banner_text_container {
    position:absolute;  
    width: 100%;
    height: 100%;
    text-shadow: 5px 15px 19px #ccc,-5px 8px 16px #ccc;text-align: center;
}
.banner_title {
    font-size:4rem;
}
.simLink {
    text-decoration:none;
    color:#0b5ed7;
}
.footer,.footer-placeholder {
}
.card {
    background-color: rgb(33, 41, 44,0.9);
}
.signup-teaser,.login-teaser {
    text-align:center;
    padding-top:25px;
}
a {
    text-decoration:none;
}
.signup-teaser>a,.login-teaser>a {
    padding-top:0px;
}
.modal-title {
    width:100%;
}
.faq-list {
    padding-top:0px;
    padding-left:32px;
    padding-right:32px;
    list-style-type: none;
}
.faq-list>li {
    padding-top:10px;
}
.modal-header>.close{
    display:none;
}
html, body {
    overflow-x:hidden;
    height: 100%;
}
body,.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}
.main-card{
    margin-top:10px;
}
.teaser-card,.main-card,.footer-card {
    margin-top: 8px;
    width:100%;
    padding-left:32px;
    padding-right:32px;
    -webkit-box-shadow: 0 5px 10px -10px #8c8c8c inset;
    box-shadow: 0 5px 10px -10px #8c8c8c inset;
}
.signup-teaser>a,.login-teaser>a{
    width:max-content;
    display:block;
}
h1 {
    
  text-shadow: 5px 5px 25px #000,-5px 5px 16px #000;
}
